@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');
body {
  min-height: 100vh;
  background: #191920;
  overflow-x: hidden;
}
